<div class="body-copy">
	<h1 class="h1">Landing View</h1>
</div>

<div class="tickets">
	<table class="ticket-table">
		<tr>
			<th></th>
			<th>Ticket</th>
			<th>Progress</th>
			<th>Complete By</th>
			<th></th>
		</tr>
		<tr>
			<td><span class="ticket-color"></span></td>
			<td>No Priority Ticket</td>
			<td class="t-italic">In Progress</td>
			<td>Jan 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
		<tr>
			<td><span class="ticket-color -blue"></span></td>
			<td>Minor Ticket</td>
			<td class="t-italic">In Progress</td>
			<td>Jan 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
		<tr>
			<td><span class="ticket-color -green"></span></td>
			<td>Feature / Request Ticket</td>
			<td class="t-italic">In Progress</td>
			<td>Jan 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
		<tr>
			<td><span class="ticket-color -yellow"></span></td>
			<td>Significant Ticket</td>
			<td class="t-italic">In Progress</td>
			<td>Jan 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
		<tr>
			<td><span class="ticket-color -orange"></span></td>
			<td>Critical / Breaking Ticket </td>
			<td class="t-italic">In Progress</td>
			<td>Feb 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
		<tr class="resolved">
			<td><span class="ticket-color -orange"></span></td>
			<td>Resolved Ticket</td>
			<td class="t-italic">Completed</td>
			<td>Feb 28, 2018</td>
			<td><a href="#/ticket-detail">View Detail</a></td>
		</tr>
	</table>
</div>