<div class="body-copy">
	<h1 class="h1">Single Ticket View</h1>

	<div class="ticket-info-box">
		<span class="ticket-info"><strong>Priority: </strong>Critical / Breaking</span>
		<span class="ticket-info"><strong>Progress: </strong>In Progress</span>
		<span class="ticket-info"><strong>Complete By: </strong>Jan 28, 2018</span>
	</div>

	<h2 class="h2">Details:</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat asperiores commodi delectus id assumenda facilis quidem nostrum non error itaque tempore, animi nemo culpa illum veniam voluptatibus tenetur beatae in!</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat asperiores commodi delectus id assumenda facilis quidem nostrum non error itaque tempore, animi nemo culpa illum veniam voluptatibus tenetur beatae in!</p>
	
	<a href="#" class="button -primary">Edit Ticket</a>
	<a href="#" class="button -primary">Mark Resolved</a>
	<a href="#" class="button -secondary">Remove Ticket</a>
</div>